<h1>EDITAR USUARIO</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Nombre</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="({ 'is-invalid': submitted && f })" />
            <div *ngIf="submitted" class="invalid-feedback">
                <div *ngIf="f">Nombre requerido</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Apellido</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f }" />
            <div *ngIf="submitted && f" class="invalid-feedback">
                <div *ngIf="f">APELLIDO REQUERIDO</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">NOMBRE DE USUARIO</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f }" />
            <div *ngIf="submitted && f" class="invalid-feedback">
                <div *ngIf="f">Username is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">
                CONTRASENA
                <em *ngIf="id">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f }" />
            <div *ngIf="submitted && f" class="invalid-feedback">
                <div *ngIf="f">CONTRASENA REQUERIDA</div>
                <div *ngIf="f">CONTRASENA DE 6 CARACTERES</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            GUARDAR
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
