

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <h4 class="card-header">REGISTRO</h4>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label class="form-label">NOMBRE DE USUARIO</label>
              <input type="text" formControlName="username" class="form-control"  />
              <div *ngIf="submitted && f" class="invalid-feedback">
                  <div *ngIf="f">NOMBRE DE USUARIO REQUERIDO</div>
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label">CONTRASENA</label>
              <input type="password" formControlName="password" class="form-control"/>
              <div *ngIf="submitted && f" class="invalid-feedback">
                  <div *ngIf="f">CONTRASENA REQUERIDA</div>
              </div>
          </div>
          <div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  INICIAR
              </button>
              <a routerLink="../register" class="btn btn-link">Registrate</a>
          </div>
      </form>
  </div>
</div>
